numpy==2.4.6
opencv_contrib_python==4.13.0.92
opencv_python==4.13.0.92
Pillow==12.2.0
protobuf==7.35.1
psycopg2==2.9.12
pydantic==2.13.4
pynput==1.8.2
python-dotenv==1.2.2
pywin32==311
supabase==2.31.0
